
.search-container {
    display: flex;
    align-items: center;
    gap: 10px; 
    width: 40%;

}

.search-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    width: 100%;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px 8px;
    cursor: pointer;
}

.search-button img {
    width: 20px; 
    height: 30px;
    filter: brightness(10) invert(1); 
}
